:root {
    --body-bg: #adcbe3;
    --body-bg2: #c6dbeb;
    --wrapper-bg: #2a4d69;
    --checkbox-bg: #fff;
    --btn-bg: #adcbe3;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, var(--body-bg), var(--body-bg2));
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 10vh 1rem 5vh;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper h1 {
    color: var(--wrapper-bg);
    margin-bottom: 3rem;
    font-size: calc(1.5rem + 2vh);
    text-align: center;
    max-width: 700px;
}

.form-wrapper {
    background-color: var(--wrapper-bg);
    height: auto;
    width: 325px;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.input-group:first-child {
    margin-top: 0;
}

.input-group > span {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.input {
    border: none;
    border-radius: 0.25rem;
    background-color: #fff;
    border: none;
}

#pwd-display {
    width: 100%;
    padding: 1rem;
    color: var(--wrapper-bg);
    font-size: 1.2rem;
}

#pwd-display::placeholder {
    color: var(--wrapper-bg);
}

#pwd-length {
    max-width: 35px;
    height: 25px;
    line-height: 25px;
    padding: 0 0.5rem;
}

.btn {
    padding: 1rem;
    background-color: var(--btn-bg);
    color: #fff;
    border: none;
    box-shadow: none;
    display: inline-block;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn--generate {
    margin-right: 1rem;
}

.btn:focus, 
input:focus {
    outline: none;
}

/* 
* custom checkboxes
* more on W3Schools - https://www.w3schools.com/howto/howto_css_custom_checkbox.asp 
*/
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: var(--checkbox-bg);
    border-radius: 0.25rem;
    transform: translateY(-50%);
}
  
.checkbox-container:hover input ~ .checkmark {
    background-color: var(--checkbox-bg);
}
  
.checkbox-container input:checked ~ .checkmark {
    background-color: var(--checkbox-bg);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
  
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--wrapper-bg);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


